* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: pink;
}

.keys {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.key {
  width: 50px;
  height: 50px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: white;
  transition: all 0.1s;
}

.playing {
  transform: scale(1.1);
  border-color: fuchsia;
  box-shadow: 0 0 15px grey;
}
