* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  text-align: center;
  width: 100%;
  height: 10vh;
  padding: 30px 10px;
  font-size: 16px;
}

.keys {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key {
  width: 70px;
  height: 70px;
  margin: 5px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(94, 91, 91);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s;
  cursor: pointer;
  font-size: 10px;
}

.playing {
  transform: scale(1.1);
  background-color: orange;
  box-shadow: 0 0 15px grey;
}

.footer {
  width: 100%;
  height: 5vh;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.copy {
  margin: 10px 0;
  font-weight: normal;
  font-size: 16px;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.fa-paw {
  color: rgb(255, 136, 0);
}

@media all and (min-width: 500px) {
  .title,
  .title2 {
    display: inline;
  }
  .header {
    padding-top: 10px;
  }
}
@media all and (min-width: 768px) {
  .key {
    width: 90px;
    height: 90px;
    margin: 15px;
    font-size: 14px;
  }
  .header {
    padding-top: 30px;
    font-size: 18px;
  }
}
@media all and (min-width: 1200px) {
  .key {
    width: 110px;
    height: 110px;
    margin: 20px;
    font-size: 16px;
    padding: 0 7px;
  }
  .header {
    font-size: 22px;
  }
}
